<!DOCTYPE html>
<html>
  <head>
    <title>Duang</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" href="http://www.duang.sh/assets/img/new/logo.jpg"/>

  </head>

  <body>

    <div class="container-fluid noPadding">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <%= yield %>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
